<h1>Create Foods</h1>

<%= form_for [:admin, @food] do |f|%>

    <div class="form-group">
      <%= f.label :eat %><br />
      <%= f.collection_select :eat_id, Eat.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price %><br />
      <%= f.text_field :price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %><br />
    </div>

<% end %>