<%= link_to 'List of all foods', admin_root_path %> <%= @food.name %>

<h1><%= @food.name %></h1>
<p>
  Eat: <%= link_to @food.eat.name, admin_eat_path(@food.eat)%>, by: <%= @food.user.name %>
</p>

<p>
  <b>Details:</b><br />
  Description: <%= @food.description %>
</p>
<p>
  Price: <%= @food.price %>
</p>

<p>
  <% if current_user == @food.user %>
  <%= link_to 'Edit food', admin_edit_food_path, class: 'btn btn-primary' %>
  <%= link_to 'Delete food', admin_food_path(@food), method: :delete, class: 'btn btn-danger' %>
  <% end%>
</p>
