<h1>Welcome!</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Eats. Restaurants and cafe </h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><%= link_to 'All', root_url %></li>
          <% Eat.all.each do |eat|  %>
              <li><%= link_to eat.name, show_eats_path(eat) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-8">

    <% @foods.each do |food|%>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Eat: <%= link_to food.eat.name, show_eats_path(food.eat.id)%></p>
            <p>Food: <%= link_to food.name, show_foods_path(food) %></p>
          </div>
        </div>
    <% end %>

  </div>
</div>
