<%= link_to 'List of all foods', root_path %> <%= @food.name %>

<h1><%= @food.name %></h1>
<p>
  Eat: <%= link_to @food.eat.name, show_eats_path(@food.eat)%>, by: <%= @food.user.name %>
</p>

<p>
  <b>Details:</b><br />
  Description: <%= @food.description %>
</p>
<p>
  Price: <%= @food.price %>
</p>