
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Eats. Restaurants and cafe </h3>
      </div>
      <div class="panel-body">
        <ul>
         <li><%= link_to 'All', admin_root_url %></li>
          <% Eat.all.each do |eat|  %>
              <li><%= link_to eat.name, admin_eat_path(eat) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-8">

    <% @foods.each do |food|%>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Eat: <%= link_to food.eat.name, admin_eat_path(food.eat) %></p>
            <h4>Food: <%= link_to food.name, admin_food_path(food) %></h4>
            <p>User: <%= link_to food.user.name, '#' %></p>
          </div>
        </div>
    <% end %>

  </div>
</div>
