<!DOCTYPE html>
<html>
<head>
  <title>Tamak Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>" role="alert"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
